body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Wrap container */
.container{
    background-color: #2a9d8f;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Game field */
.field{
    height: 900px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1faee;
}

/* Single cell */
.cell{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Snake model */
.snake{
    height: 50px;
    width: 50px;
    background-color: rgba(106, 142, 35);
}

/* Hit color */
.hit{
    position: absolute;
    background-color: orangered;
}

/* Food */
.food{
    position: relative;
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 50% 50% 40% 40%;
    z-index: 3;
}

/* Leaf model */
.food::before{
    content: "";
    position: absolute;
    height: 18px;
    width: 9px;
    background-color: green;
    border-radius: 50% 0px 50% 0px;
    top: -18px;
    left: 26px;
    transform: rotate(45deg);
}

/* Wood model */
.food::after{
    content: "";
    position: absolute;
    height: 12px;
    width: 5px;
    background-color: rgb(146, 100, 40);
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%);
}